<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.great.dao.InventoryMapper">

	<!-- 获取药房药品表的信息 -->
	<select id="inventoryDrugs" resultType="java.util.HashMap">
		SELECT to_char(a.CDATE,'YYYY-MM-DD HH:MM:SS') cdate,to_char(a.PRODUCTION_DATE,'YYYY-MM-DD HH:MM:SS') PRODUCTION_DATE,a.INVENTORY_NUMBER,b.factory_name,c.admin_name,d.drug_name
		from t_inventory a,t_factory b,t_admin c,t_drug d
		<where>
			a.factory_id=b.factory_id and a.admin_id=c.admin_id and a.drug_id=d.drug_id
			<if test="drug_name != '' and drug_name != null ">
				and d.drug_name like '%${drug_name}%'
			</if>
			<if test="factory_id != '' and factory_id != null and factory_id != 0 ">
				and a.factory_id=#{factory_id}
			</if>
		</where>
	</select>



<!-- 	通过drug_id,birthday,factory_id定位到药房药品表的某一行,看是否存在 -->
	<select id="checkRow" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from t_inventory 
		where to_char(production_date,'YYYY-MM-DD')=#{BIRTHDAY} and factory_id=#{FACTORY_ID} and drug_id=#{DRUG_ID}
	</select>
<!-- 	向药房库存表新增一条数据 -->
	<insert id="addRow" parameterType="java.util.HashMap">
		insert into t_inventory(inventory_id,drug_id,production_date,inventory_number,admin_id,state,factory_id) values 
		(seq_t_inventory.nextval,#{DRUG_ID},to_date(#{BIRTHDAY},'YYYY-MM-DD'),#{DRUG_NUMBER},#{newadmin_id},1,#{FACTORY_ID})
	</insert>
<!-- 	通过drug_id,birthday,factory_id定位到药房药品表的某一行，修改它的值 -->
	<update id="updateByApply" parameterType="java.util.HashMap">
		update t_inventory set inventory_number=inventory_number+#{drug_number} 
		where to_char(production_date,'YYYY-MM-DD')=#{birthday} and factory_id=#{factory_id} and drug_id=#{drug_id}
	</update>


    <!-- jyf 获得药房 库存数量 -->
	<select id="getInventorys" resultType="com.great.bean.Drug">
	select a.*,b.inventory_number from t_drug a left join
       (select drug_id,sum(inventory_number) inventory_number from t_inventory where state in(1) group by drug_id) b 
          on a.drug_id=b.drug_id and a.state=1
	</select>
	<!-- jyf 获得药房 库存记录 根据 id  给药房 退药库  用的-->
	<select id="getInventorysByDrugId" parameterType="java.lang.Integer"  resultType="com.great.bean.Inventory">
		select a.*,b.drug_name,b.spec,c.admin_name,d.parameter_name from t_inventory a,t_drug b,t_admin c ,t_parameter d
         where a.drug_id=b.drug_id and a.admin_id=c.admin_id and a.state=d.parameter_value and d.parameter_type='药房库存状态'
          and a.drug_id=#{_parameter} and a.state in (1,3,4,5) order by a.production_date desc
	</select>
	<!-- jyf 获得药房 库存记录 根据 id 给报损用的 -->
	<select id="getInventoryssByDrugId" parameterType="java.lang.Integer"  resultType="com.great.bean.Inventory">
		select a.*,b.drug_name,b.spec,c.admin_name,d.parameter_name from t_inventory a,t_drug b,t_admin c ,t_parameter d
         where a.drug_id=b.drug_id and a.admin_id=c.admin_id and a.state=d.parameter_value and d.parameter_type='药房库存状态'
          and a.drug_id=#{_parameter} and a.state in (1,6,7,8) order by a.production_date desc
	</select>
	<!-- jyf 获得药房 库存记录 admin审核 -->
	<select id="getInventorysForAdmin"  resultType="com.great.bean.Inventory">
		select a.*,b.drug_name,b.spec,c.admin_name,d.parameter_name from t_inventory a,t_drug b,t_admin c ,t_parameter d
         where a.drug_id=b.drug_id and a.admin_id=c.admin_id and a.state=d.parameter_value and d.parameter_type='药房库存状态'
          and a.state in (6,7,8) order by a.production_date desc
	</select>
	<!-- jyf 获得药房库存 记录 s 给药库审核用 -->
	<select id="getInventorysforStock" resultType="com.great.bean.Inventory">
		select a.*,b.drug_name,c.admin_name,d.parameter_name from t_inventory a,t_drug b,t_admin c ,t_parameter d
 		 where a.drug_id=b.drug_id and a.admin_id=c.admin_id and a.state=d.parameter_value and d.parameter_type='药房库存状态'
 		  and a.state in (3,4,5)
	</select>
	<!-- jyf 获得药房 库存记录 退库申请 -->
	<update id="returnStockRequest" parameterType="java.lang.Integer">
		update t_inventory <set>state=3</set> where inventory_id=#{_parameter}
	</update>
	<!-- jyf 获得药库  库存记录 退库申请  通过 -->
	<update id="returnStockRequestPass" parameterType="java.lang.Integer">
		update t_inventory <set>state=4</set> where inventory_id=#{_parameter}
	</update>
	<insert id="pharmacyReturnAdd" parameterType="com.great.bean.Inventory">
		insert into t_pharmacy_return(inventory_id,admin_id,drug_id,drug_number,birthday) 
		 values (#{inventory_id},#{admin_id},#{drug_id},#{inventory_number},#{production_date})
	</insert>
	
	<!-- jyf 获得药房 库存记录 退库申请   不通过-->
	<update id="returnStockRequestNotPass" parameterType="java.lang.Integer">
		update t_inventory <set>state=5</set> where inventory_id=#{_parameter}
	</update>
	
	<!-- jyf 获得药房 库存记录 报损申请 -->
	<update id="badDrugRequest" parameterType="java.lang.Integer">
		update t_inventory <set>state=6</set> where inventory_id=#{_parameter}
	</update>
	<!-- jyf 获得药房 库存记录  报损申请   通过-->
	<update id="badDrugPass" parameterType="java.lang.Integer">
		update t_inventory <set>state=7</set> where inventory_id=#{_parameter}
	</update>
	<!-- jyf 获得药房 库存记录 报损申请   不通过-->
	<update id="badDrugNotPass" parameterType="java.lang.Integer">
		update t_inventory <set>state=8</set> where inventory_id=#{_parameter}
	</update>
	<!-- jyf 药房 过期 -->
	<select id="getOverdues" resultType="com.great.bean.Overdue">
		select a.inventory_id,a.drug_id,b.drug_name,a.production_date,b.irradiated,(a.production_date+b.irradiated*30) nowDate 
		   from t_inventory a,t_drug b where a.drug_id = b.drug_id 
	</select>
	<!-- jyf 12.24 -->
	<select id="getDrugByIdforChuku" parameterType="java.lang.Integer" resultType="com.great.bean.Drug">
	select a.*,b.* from t_drug a,
          (select drug_id,sum(inventory_number) inventory_number from  t_inventory where state=1 group by drug_id having drug_id=#{_parameter}) b 
          where a.drug_id=b.drug_id
	</select>
	<select id="getInventorysByDrugIdForSold" parameterType="java.lang.Integer" resultType="com.great.bean.Inventory">
	 	select a.*,b.drug_name,b.spec,c.admin_name,d.parameter_name from t_inventory a,t_drug b,t_admin c ,t_parameter d
         where a.drug_id=b.drug_id and a.admin_id=c.admin_id and a.state=d.parameter_value and d.parameter_type='药房库存状态'
          and a.drug_id=#{_parameter} and a.state in (1) order by a.production_date desc
	</select>
	<update id="UpdateSaleNum" parameterType="com.great.bean.SaleNum">
		update t_inventory set inventory_number=inventory_number-#{saleNum} where  inventory_id=#{inventory_id}
	</update>
	<!-- jyf 12.24                  sdjasdhkasdjasd -->
	</mapper>