<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.great.dao.ReportMapper">
     <select id="queryIn" resultType="java.util.HashMap">
     	select a.drug_name,sum(a.plantobuy_number) insum from t_storge a group by(drug_name)
     </select>
     
     <select id="queryOut" resultType="java.util.HashMap">
     	select a.outsum,b.drug_name from (select a.drug_id,sum(a.sold_num) outsum from t_sold a group by(drug_id)) a,t_drug b where a.drug_id=b.drug_id
     </select>
     
     <select id="queryPrice" resultType="java.util.HashMap">
     	select a.outsum*bPrice price,b.drug_name from (select a.drug_id,a.BIR_PRICE bPrice,sum(a.sold_num) outsum from t_sold a group by drug_id,BIR_PRICE) a,t_drug b where a.drug_id=b.drug_id  
     </select>
</mapper>