<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.great.dao.StorgeApplyMapper">
	<!-- 提交入库审批单 -->
	<insert id="addStorgeApply" parameterType="com.great.bean.StorgeApply" >
		INSERT INTO T_STORGEAPPLY (STORGE_ID, STORGE_TOTAL, TYPE_TOTAL,SUBMIT_DATE, ADMIN_ID, STAT,REAL_STORGETOTAL,REAL_STORGETYPE) 
		VALUES (#{storge_id}, #{storge_total}, #{type_total}, sysdate, #{admin_id}, 2,0,0)
	</insert>
	<!-- 查询所有待审核的入库审批单 -->
	<select id="queryStorgeApply" resultType="java.util.HashMap" >
		select a.*,b.* from T_STORGEAPPLY a,t_parameter b where b.parameter_type='入库单状态' and b.parameter_value= a.stat and a.stat!=1 and a.stat!=5
	</select>
	<!-- 更新入库审批单 状态-->
	<update id="updateStorgeApply" parameterType="com.great.bean.StorgeApply">
		update T_STORGEAPPLY set stat=#{stat}, CHECK_DATE=sysdate where storge_id=#{storge_id}
	</update>
	<!-- 根据入库单id查询审批单明细 -->
	<select id="queryApplyDetail" resultType="java.util.HashMap" >
		select * from T_STORGEAPPLY  where STORGE_ID=#{storge_id}
	</select>
	<!-- 根据入库单id查询实际入库数量 -->
	<select id="getRealTotal" resultType="int" >
		select count(REAL_STORGETOTAL) from T_STORGEAPPLY  where STORGE_ID=#{storge_id}
	</select>
	
	<!-- 根据入库单id查询实际入库种类数量 -->
	<select id="getRealTotalType" resultType="int" >
		select count(REAL_STORGETYPE) from T_STORGEAPPLY  where STORGE_ID=#{storge_id}
	</select>
	
	<!-- 更新入库单实际入库数量 -->
	<update id="updateRealStorge" parameterType="com.great.bean.StorgeApply">
		update T_STORGEAPPLY set REAL_STORGETOTAL=#{real_storgetotal}, REAL_STORGETYPE=#{real_storgetype}, STAT=#{stat},STORGE_DATE=sysdate where STORGE_ID=#{storge_id}
	</update>
</mapper>